%brandon-grotesque {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
}

@mixin font-bold {
	@extend %brandon-grotesque;
	font-weight: 700;
}

@mixin font-normal {
	@extend %brandon-grotesque;
	font-weight: 400;
}

@mixin font-light {
	@extend %brandon-grotesque;
	font-weight: 300;
}

@mixin font-body {
	font-family: ambroise-std, serif;
	font-weight: 400;
	font-style: normal;
}

@mixin button($font-size, $padding-side, $padding-top, $border: 0.125rem) {
	$color: lighten($theme-dark-green, 15%);
	color: $color;
	border: $border solid $color;
	display: inline-block;
	text-decoration: none;
	border-radius: $border * 2;
	padding: $padding-top $padding-side;
	margin: 0 auto;
	font-size: $font-size;
	min-width: $font-size * 5;
	@include font-normal;
	text-transform: uppercase;
	transition: background 0.2s ease-in-out;
	text-align: center;
	&:hover {
		background: rgba($color, 0.08);
	}
}

@mixin no-html-button($color: $theme-black, $bg: $theme-white) {
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: $color;
	background: $bg;
	border: 0.0625rem solid transparent;
	transition: all 0.2s ease-in-out;
	padding: 0.25rem;
	display: inline-block;
	border-radius: 0.125rem;
	svg {
		fill: $color;
	}
	&:hover,
	&:active {
		border-color: rgba($color, 0.5);
	}
	&:focus {
		border-color: rgba($theme-gold, 0.5);
	}
}
