@mixin svg($weight: 700, $transform: none) {
	> svg {
		fill: var(--white);
		width: 100%;
		text {
			font-weight: $weight;
			text-align: center;
			text-transform: $transform;
		}
	}
}

html {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	color: var(--white);
}

h1,
h2 {
	font-weight: 700;
	@include svg;
}

h1 {
	@include svg(700, uppercase);
	text-shadow: 0 0 4rem var(--gold-shadow);
}

h2 {
	@include svg;
	text-shadow: 0 0 3rem var(--gold-shadow);
}

p {
	text-align: center;
	font-size: 2rem;
	text-transform: lowercase;
	text-shadow: 0 0 2rem var(--gold-shadow);
}
