<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/global.css" />
	{% if page.custom_css %}
	{% for stylesheet in page.custom_css %}
	<link rel="stylesheet" href="css/{{ stylesheet }}.css" />
	{% endfor %}
	{% endif %}
</head>

<body>
	{% include header.html %}
	<main>
		{{content}}
	</main>
	{% include footer.html %}
	{% if page.custom_js %}
	{% for script in page.custom_js %}
	<script src="js/{{ script }}.js"></script>
	{% endfor %}
	{% endif %}
</body>

</html>
