@import './include';
@import './type';
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	color: $theme-black;
	background: $theme-white;
	@include font-normal;
}

html,
body,
main {
	margin: 0;
	padding: 0;
}
