@import './include';

dl {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto;
	grid-gap: 0.5rem 1rem;

	dt,
	dd {
		margin: 0;
	}
	dt {
		font-weight: 700;
	}

	.block {
		display: block;
	}
}
